---
layout: default
---
<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    <p class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</time>
      {%- if page.tags and page.tags.size > 0 %}
      <span class="tags">
        {%- for tag in page.tags %}<span class="tag">{{ tag }}</span>{% endfor -%}
      </span>
      {%- endif %}
    </p>
    {%- assign blurb = page.description | default: page.summary -%}
    {%- if blurb %}<p class="summary">{{ blurb }}</p>{% endif %}
  </header>


  {{ content }}

  {%- if page.canonical_note %}
  <aside class="note"><p>{{ page.canonical_note }}</p></aside>
  {%- endif %}
</article>

<nav class="postnav">
  {%- if page.previous %}<a href="{{ page.previous.url | relative_url }}">&larr; {{ page.previous.title }}</a>{% endif %}
  {%- if page.next %}<a class="next" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &rarr;</a>{% endif %}
</nav>
